<ion-content>
  <ion-slides pager="true" [options]="optionsSlides">
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <img src="" alt="logo" />
      <h1>Escucha tu musica</h1>
      <h2>EN CUALQUIER LUGAR</h2>
      <p>
        Los mejores álbunes, las mejores canciones. Escucha y comparte en
        cualquier comento
      </p>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <img src="" alt="logo" />
      <h1>2</h1>
      <h2>EN CUALQUIER LUGAR</h2>
      <p>
        Los mejores álbunes, las mejores canciones. Escucha y comparte en
        cualquier comento
      </p>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <img src="" alt="logo" />
      <h1>3</h1>
      <h2>EN CUALQUIER LUGAR</h2>
      <p>
        Los mejores álbunes, las mejores canciones. Escucha y comparte en
        cualquier comento
      </p>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
